.body{
    display: flex;
    justify-content: center;
}

.main{
    background: url('../img/body.png');
    width: 429px;
    height: 926px;
    display: flex;
    justify-content: center;
}

.header{
    display: flex;
    margin-right: 140px;
}

.title{
    margin-left: 100px;
}

.basket{
    background: url('../img/basket.png')center;
    width: 44px;
    height: 44px;
}